<?xml version='1.0' encoding='UTF-8'?>
<!--
@package    Joomla.Component
@copyright  (c) 2017-2019 Libor Gabaj
@license    GNU General Public License version 2 or later; see LICENSE.txt
@since      3.8
-->
<form>
    <fieldset name="gridfields">

        <!-- The first field here is considered as a default search field. -->
        <!-- Default type for searching is string. -->
        <field
            name="title"
            type="string"
            label="LIB_GBJ_FIELD_TITLE_LABEL"
            labelclass="title"
            class="has-context"
        />

        <field
            name="date_on"
            type="date"
            label="LIB_GBJ_FIELD_DATE_LABEL"
            width="10%"
            format="LIB_GBJ_FORMAT_DATE_LONG"
        />

        <field
            name="duration"
            type="number"
            label="COM_GBJFAMILY_EVENT_DURATION_LABEL"
            width="6%"
            defaulted="false"
            suffix="LIB_GBJ_UNIT_HOURS"
        />

        <field
            name="id_domain"
            label="COM_GBJFAMILY_FIELD_CODEBOOK_DOMAIN_LABEL"
            width="6%"
            datafield="id_domain_alias"
            tooltip="id_domain_title"
            defaulted="false"
        >
        </field>

        <field
            name="id_activity"
            label="COM_GBJFAMILY_FIELD_CODEBOOK_ACTIVITY_LABEL"
            width="6%"
            datafield="id_activity_alias"
            tooltip="id_activity_title"
            defaulted="false"
        >
        </field>

        <field
            name="id_stage"
            label="COM_GBJFAMILY_FIELD_CODEBOOK_STAGE_LABEL"
            width="6%"
            datafield="id_stage_alias"
            tooltip="id_stage_title"
            defaulted="false"
        >
        </field>

        <field
            name="id_project"
            label="COM_GBJFAMILY_FIELD_CODEBOOK_PROJECT_LABEL"
            width="10%"
            datafield="id_project_alias"
            tooltip="id_project_title"
            defaulted="false"
        >
        </field>

        <field
            name="grid_admin"
            type="subform"
        />

    </fieldset>
</form>
